@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* Mobile First Approach */

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin:  0 auto;
  height: auto;
  max-width: 1440px;
  box-sizing: border-box;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: 50px;
}

nav #logo {
  width: 100px;
}

/* hamburger menu */
#hamburger_menu {
  margin: 0 20px 0 0;
}
#hamburger_menu .line {
  width: 30px;
  height: 2.5px;
  border-radius: 5px;
  background: rgb(52, 44, 44);
  margin-top: 10px;
} 

/* main menu */

#nav-right {
  display: flex;
  align-content: center;
  display: none;
}

#nav-right #btn{
  text-decoration: none;
  text-align: center;
  display: flex;
  align-self: center;
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  border-radius: 50px;
  color: rgb(52, 44, 44);
  transition: background 500ms ease;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 0 15px;
}

/* main content */

#main_container {
  margin: 0 auto;
  width: 300px;
}

.item {
  width: 100%;
  margin-bottom: 10px;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.item h3 {
  background: rgb(52, 44, 44);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

#main_container .img{
  width: 100%;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  opacity: .3;
  height: 100px;
  margin-top: 50px;
}

footer img {
  width: 40px;
  height: 40px;
  margin: 10px;
}